@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700;900&display=swap");

* {
  font-family: "Raleway", sans-serif !important;
}

body {
  background-color: #000;
  color: #d2d2d2;
}

.home {
  text-align: center;
  padding: 4rem 1rem;
}

.home img.profile {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  margin-bottom: 4rem;
}

.home img.scroll-downs-image {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin-bottom: 4rem;
  background: #2b2b2b;
  padding: 1rem;
}

.home h2 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 800;
  margin-bottom: 4rem;
}

.home h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4rem;
}

/* Resume */

.resume {
  padding: 4rem 1rem;
}

.resume h2 {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 4rem;
}

.resume p {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

/* Projects */
.projects {
  padding: 4rem 0;
}

.projects h2 {
  padding: 0 1rem;
}

.projects .project {
  color: #fff;
  padding: 4rem 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.projects .project.p1 {
  background-color: #2b239c;
}

.projects .project.p2 {
  background-color: #607d8b;
}

.projects .project.p3 {
  background-color: #009688;
}

.projects .project.p4 {
  background-color: #ff9800;
}

.projects .project img {
  position: relative;
  right: -3rem;
  overflow: hidden;
  width: 100%;
}

.projects .project .project-info {
  margin-top: 4rem;
}

.projects .project .project-info h3 {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.projects .project .project-info p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.projects .project .project-info span,
.projects .project .project-info a {
  font-size: 1rem;
  display: block;
}

.projects .project .project-info a {
  color: #fff;
}

.contact-prompt {
  padding: 4rem 1rem;
}

.contact-prompt .promt {
  border: #333135 solid 1px;
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 230px;
  background-color: #1c1c1c;
}

.contact-prompt .promt .promt-bar {
  background-color: #333135;
  padding: 0.7rem;
}

.contact-prompt .promt .promt-bar span {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  display: inline-block;
}

.contact-prompt .promt .promt-bar .close {
  background-color: #fb574f;
}

.contact-prompt .promt .promt-bar .minimize {
  background-color: #f8b735;
}

.contact-prompt .promt .promt-bar .expand {
  background-color: #1ac33f;
}

.contact-prompt .promt .promt-input-area {
  padding: 0.25rem;
  color: #00ff33;
  font-size: 0.8rem;
}

.contact-prompt .promt .promt-input-area p {
  margin: 0.1rem 0;
  padding: 0;
}

#text-area::before {
  content: "mmartinez@website ~ % ";
}

.info {
  padding: 4rem 1rem;
}

.info .title {
  font-size: 1rem;
}

.info > div {
  font-size: 0.8rem;
}

.info > div a {
  color: #fff;
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  margin-bottom: 4rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .home h2 {
    font-size: 6rem;
    line-height: 6rem;
  }

  .home h3 {
    font-size: 2rem;
  }

  .home img.profile {
    height: 10rem;
    width: 10rem;
  }

  .resume p {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .projects .project img {
    right: -10rem;
  }

  .projects .project .project-info h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .projects .project .project-info p {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 3rem;
  }

  .projects .project .project-info span,
  .projects .project .project-info a {
    font-size: 1.5rem;
  }

  .contact-prompt .promt .promt-input-area {
    font-size: 1rem;
  }

  .info .title {
    font-size: 2.5rem;
  }

  .info > div {
    font-size: 1.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section {
    width: 992px;
    margin: 0 auto;
  }

  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects .project {
    border-radius: 1rem;
  }

  .projects h2 {
    padding: 0 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  section {
    width: 1100px;
  }

  .projects .project {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .projects .project .project-info {
    width: 55%;
    margin-top: 0;
  }

  .projects .project img {
    width: 45%;
    height: 100%;
    right: -5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  section {
    width: 1350px;
  }

  .projects .project {
    margin-bottom: 4rem;
    padding: 4rem 2rem;
  }

  .projects .project:last-child {
    margin-bottom: 0;
  }
}
