@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700;900&display=swap");

* {
  font-family: "Raleway", sans-serif !important;
}

body {
  background-color: #000;
  color: #d2d2d2;
}

.home {
  margin: 2vw;
  text-align: center;
  padding: 50px 0;
}

.home img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
}

.home h2 {
  font-size: 4rem;
  line-height: 4rem;
  -webkit-text-stroke: 1px #d2d2d2;
  color: transparent;
  font-weight: 800;
  margin-bottom: 50px;
}

.home h3 {
  text-transform: uppercase;
  font-weight: 700;
}
